version: 1.0.{build}
build_script:
- '"C:\Program Files (x86)\MSBuild\12.0\Bin\MSBuild.exe" "Singleton.sln" /verbosity:detailed /p:DownloadNuGetExe=true /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"'

skip_commits:

  # Regex for matching commit message
  message: /Update.*\.(md)/
